name: CI

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: setup-scala
        uses: olafurpg/setup-scala@v10
        with:
          java-version: adopt@1.11
      - name: tests
        run: |
          sbt clean +test

  formatting:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: setup-scala
        uses: olafurpg/setup-scala@v10
        with:
          java-version: adopt@1.11
      - name: Formatting
        run: |
          sbt scalafmtSbtCheck scalafmtCheck test:scalafmtCheck